* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: jedi;
  src: url('/Typo-Grotesk.otf');
}

$yellow: #ffee58;

.background {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $yellow;
  font-family: jedi;
  text-transform: uppercase;

  &::before,
  &::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    inset: 0;
    z-index: -1;
  }

  &::before {
    background: url(http://www.script-tutorials.com/demos/360/images/stars.png) top center #000;
  }
  &::after {
    background: url(http://www.script-tutorials.com/demos/360/images/twinkling.png) top center;
    animation: move-twink-back 200s linear infinite;
  }
}

@keyframes move-twink-back {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 5000px;
  }
}

.app {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.error,
.form,
.starship {
  border: 1px solid $yellow;
  padding: 30px;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

button {
  background-color: $yellow;
  color: #000;
  border: none;
  padding: 5px 10px;
  font-family: jedi;
  text-transform: uppercase;
  margin-top: 5px;
}

.form {
  .currentValue {
    margin-bottom: 10px;
  }

  input[type='radio'] {
    accent-color: $yellow;
  }

  .buttons {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;

    button {
      margin-top: 5px;
    }
  }
}

.starship {
  img {
    max-width: 100%;
  }
  .name {
    text-align: center;
    padding: 5px;
  }
}
.error {
  button {
    margin-top: auto;
  }
}
